{% extends 'base.html' %}

{% block content %} 

<div id="homeStuff">
<h1><u>Lean Defense Solutions, Inc.</u></h1>
<br>
<h2>Mission Statement</h2>
<br>
<p>
    Lean Defense Solutions (LDS) provides highly innovative answers to the United States Special Forces most challenging military problems.  LDS custom designs and procures One-Stop-Shop shipping container innovation laboratories in which Quick Reaction Forces (QRF) can expeditiously manufacture drones, parts, devices, and other AI for the deployment and utilization in core mission sets such as but not limited to Intelligence Surveillance and Reconnaissance (ISR), Personnel Recovery (PR)/Combat Search and Rescue (CSAR), Close Air Support (CAS), Humanitarian Aid and Disaster Relief (HADR), and Non-Combatant Evacuation Operations (NEO).</p>
</div>
{% endblock content %} 
